#root{
    display: inline-block;
    font-family: Ubuntu Mono,Lucida Console,monospace;
    font-size: .9rem;
    margin:auto;
    height: 200px;
    width: 600px;
    position:fixed;
    top:0;
    bottom:150px;
    left:0;
    right:0;
}


#type{ 
    position: relative;
    bottom: 30px;
    border-top: 0.1px solid rgb(54, 53, 54);
    border-bottom: 0.1px solid rgb(54, 53, 54);
    height: auto;
    width: 600px;
    color: #81807e;
    word-wrap: break-word;
    text-align: center;
    padding: 10px;
}

#stats{
    display: inline-block;
    font-family: Ubuntu Mono,Lucida Console,monospace;
    font-size: 17px;
    color:#81807e;
    
}

td {
    width: 150px;
    text-align: left;
}

h1{
    position:relative; 
    top:10px;
    right:10px;
    font-size: 40px;
    text-align:center;
    font-weight: 100;
}

.highlight {
    background-color: white;
  }

input {
    background: transparent;
    border: none;
    outline: none;
    color: transparent;
}
body{
    height: auto;
    width: auto;
}